.clock {
  border-radius: 50%;
  background: #fff url(/img/workhour.svg) no-repeat center;
  background-size: 100%;
  height: 90px;
  padding-bottom: 31%;
  position: relative;
  width: 90px;
  border: 3px solid white;
}

.lock {
  border-radius: 50%;
  background: #fff url(/img/kifu_timesheet_lock.png) no-repeat center;
  background-size: 100%;
  height: 90px;
  padding-bottom: 31%;
  position: relative;
  width: 90px;
  border: 3px solid white;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container, .center-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #fff;
  height: 20%;
  left: 50%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 6px;
  margin-left: -3px;
  border-radius: 3px;
}

.minutes {
  background: #fff;
  height: 30%;
  left: 50%;
  position: absolute;
  top: 20%;
  transform-origin: 50% 100%;
  width: 6px;
  margin-left: -3px;
  border-radius: 3px;
  border: 1px solid #298cb8;
}

.seconds {
  background: #F29c2d;
  height: 45%;
  left: 50%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 2px;
  margin-left: -1px;
  z-index: 8;
  border-radius: 1px;
}

.center-container > div {
  background: #FFFFFF;
  border: 3px solid #F29c2d;
  height: 12%;
  left: 44%;
  position: absolute;
  top: 44%;
  width: 12%;
  z-index: 8;
  border-radius: 50%;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  transition-timing-function: linear;
   transition-delay: 3s;
  animation: rotate 43200s infinite linear;
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.seconds-container {
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}
